* {
    margin: 0;
    padding: 0;
    font: 400 22px 'DM Sans';
    font-style: normal;

}

body {
    margin: auto;
    width: 1120px;
    background-color: #E5E5E5;
}
a{
    text-decoration: none;
}

.img-logo {
    background-image: url(../img/hs..svg);
    width: 48px;
    height: 64px;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    width: 1120px;
    background-color: #E5E5E5;
    padding: 15px 0;
    z-index: 1;
    align-items: center;
}

header nav a:not(:last-child) {
    margin-right: 30px;
}

main {
    margin-top: 160px;
}

section {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.contact-form h1 {
    font: 500 60px 'DM Sans';
}

.contact-form p {
    color: #606060;
}

.contact-form input {
    width: 676px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding-left: 22px;
}

.btn {
    padding: 8px 0;
    background: #000000;
    border-radius: 5px;
    width: 170px;
    height: 50px;
}

.btn p {
    color: #FFFFFF;
    padding: 10px 60px;
    text-align: center;
    font: 700 25px 'DM Sans';
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    margin: auto;
    max-width: 400px;
}

.contact-info p {
    color: #606060;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

footer div {
    display: flex;
}

.my-name p {
    font: 500 22px 'DM Sans';
    color: #2429AF;

}

footer div p {
    font: 500 22px 'DM Sans';
    color: #181717;
}

footer div p:not(:last-child) {
    margin-right: 30px;
}