* {
    margin: 0;
    padding: 0;
    font: 400 22px 'DM Sans';
    font-style: normal;

}

body {
    margin: auto;
    width: 1120px;
    background-color: #E5E5E5;
}

@media screen and (max-width:1010px) {

    /* header nav a {
		display: none;
	}


	header nav {
		position: relative;
		left: -20px;

	} */

/* хотела сделать сжатую иконку, не получилось */
    /* nav a.icon {
        position: absolute;
        top: 0px;
        right: -50px;
    }


    nav  a.icon {
        position: absolute;
        top: 0px;
        right: -50px;
    }

    nav a {
        float: none;
        display: block;
        text-align: left;
    } */

}

nav a.icon {
    display: none;
}


a {
    text-decoration: none;
    color: #181717;
    ;
}

.img-logo {
    background-image: url(../img/hs..svg);
    width: 48px;
    height: 64px;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    width: 1120px;
    background-color: #E5E5E5;
    padding: 15px 0;
    z-index: 1;
    align-items: center;
}

header nav a:not(:last-child) {
    margin-right: 30px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.main-left-side h1 {
    font: 500 60px 'DM Sans';
    color: #181717;
    width: 450px;
}

.arrow {
    background-image: url(../img/↓.svg);
    width: 33px;
    height: 38px;
    position: relative;
    top: 30px;
    bottom: 50px;
}

.main-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.main p {
    font: 400 32px 'DM Sans';
    color: #606060;
    margin-top: 60px;
}

.project-left-side,
.project-name-left-side-2,
.project-name-left-side-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-img {
    background-image: url(../img/Thumbnail.png);
    width: 640px;
    height: 360px;
}

.projects {
    margin-top: 120px;
}

.container-project,
.container-project-name-2,
.container-project-name-3 {
    display: flex;
    justify-content: space-between;
}

.link {
    border-bottom: 2px solid black;
    width: 290px;
}

.hr-1 {
    margin-top: 100px;
    margin-bottom: 110px;
    border: 2px solid #181717;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

footer div {
    display: flex;
}

.my-name p {
    font: 500 22px 'DM Sans';
    color: #2429AF;

}

footer div p {
    font: 500 22px 'DM Sans';
    color: #181717;
}

footer div p:not(:last-child) {
    margin-right: 30px;
}